body {
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    margin: 20px;
}
.carousel {
    background-color: black;
    width: 95%;
    margin: 2%;
}

.carousel-item img {
    height: 600px;
    opacity: 50%;
}

.carousel-caption {
    background-color: rgb(29, 29, 29);
    width: 80%;
}

.carousel-caption h5 {
    color: white;
    font-style: oblique;
    font-size: 30px;
}

.carousel-caption p {
    color: whitesmoke;
    font-style: unset;
    font-size: 20px;
}

.biografia h3 {
    text-shadow: 2px 2px 2px #000;
    margin-left: 150px;
    font-size: 40px;
}
.biografia img {
    display: flex;
    position: relative;
    width: 600px;
    height: auto;
}

.biografia .cuadro1 {
    gap: 10px;
    width: 1200px;
    display: inline-flex;
}

.biografia .cuadro1 p {
    margin-left: 150px;
    text-shadow: 2px 2px 2px #000;
    padding: 10px;
    font-size: 30px;
    width: 600px;
}