html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(227, 223, 223, 1) 100%);
}


//barra de navegacion
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000 !important;
    border: none;
    //opacity: 80%;
    box-shadow: 2px 2px 4px rgba(81, 81, 81, 0.1);

    .navbar-brand {
        img {
            width: 200px;
            height: auto;
        }
    }

    .navbar-nav {
        margin: 20px;
        font-size: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #navbarSupportedContent {
        .nav-item {

            .nav-link {
                border-radius: 10px;
                margin: 10px;
                padding: 5px;
                color: white;
            }
        }
    }
}

.banner {
    .banner-image {
        z-index: -100;

        .backstretch {
            img {
                width: 100%;
            }
        }

        .shows {
            position: absolute;
            top: 45%;
            left: 45%;

            h3 {
                text-align: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 5px #000;
                }
            }
        }
    }
}


.banner3 {
    .banner-image {
        width: 100%;
        height: 750px;
    }
    text-align: center;
    h3 {
        font-size: 40px;
        text-shadow: 0 2px 2px #000;
        color: whitesmoke;
    }

    p {
        color: white;
        text-shadow: 0 2px 2px #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }


}

iframe {
    width: 1122px;
    height: 500px;
}


.footer {
    background-color: #000;
    padding: 1rem 0;
    bottom: 0;
    p {
        color: #fff;
        text-align: center;
    }
}


.banner3 {
    .banner-image {
        .backstretch {
            .zadar {
                background-color: #000;
                width: 100%;
                height: auto;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                position: relative;

                h3 {
                    color: red;
                    padding: 10px;
                    text-align: center;
                }

                h4 {
                    color: skyblue;
                    padding: 10px;
                    text-align: center;
                }

                img {
                    margin: 5px;
                    width: 500px;
                    height: 400px;
                    padding: 10px;
                    margin-left: 200px;
                }

                iframe {
                    width: 500px;
                    height: 400px;
                    padding: 10px;
                    position: absolute;
                    margin-top: 9%;
                    margin-left: 50%;
                }

                button {
                    margin: 10px;
                    margin-left: 40%;
                    width: 340px;
                    border-radius: 5px;
                    background-color: red;
                    text-decoration: none;
                    box-decoration-break: none;
                    color: white;
                }
            }
        }
    }
}

#banner4 {
    background: url(../img/acatraz/acatraz-03.jpg);
    width: 100%;
    height: 720px;
    background-color: #fff;
    background-blend-mode: luminosity;

    .banner-image {
        .redes-sociales {
            h3 {
                margin-top: 20px;
                font-size: 40px;
                text-shadow: 0 2px 2px #000;
                color: whitesmoke;
                text-align: center;
            }

            p {
                color: white;
                text-shadow: 0 2px 2px #000;
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                text-align: center;
            }

            .enlaces {
                margin-left: 40%;
                position: absolute;
                flex-direction: row;

                img {
                    margin-top: 50%;
                }
            }
        }

        .contrataciones {
            h3 {

                font-size: 40px;
                text-shadow: 0 2px 2px #000;
                color: whitesmoke;
                text-align: center;
                margin-top: 500px;
            }

            a {
                font-style: italic;
                text-align: center;
                text-decoration: none;
                color: skyblue;
            }
        }
    }
}




@media (min-width: 680px) and (max-width: 768px) {
    .banner3 {
        height: 1000px;
        padding: 0%;

        .banner-image {
            margin: 0px;

            .backstretch {
                max-width: 100%;
                margin: 0;
                padding: 5%;

                h3 {
                    font-size: 30px;
                    text-shadow: 0 2px 2px #000;
                    color: red;
                    text-align: center;
                }

                p {
                    color: white;
                    text-shadow: 0 2px 2px #000;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    text-align: center;
                }
            }

            .redes {
                a {
                    text-align: center;
                    width: 100%;
                    padding: 4%;
                    margin-bottom: 20px;
                }

            }
        }
    }

    iframe {
        padding: 5%;
        margin: 0;
        width: 100%;
        height: 500px;
    }

    body {
        background-color: gray;
    }

    .banner3 {
        .banner-image {
            .backstretch {
                .zadar {
                    background-color: #000;
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    h3 {
                        color: #fff;
                        padding: 10px;
                        text-align: center;
                    }

                    h4 {
                        color: #fff;
                        padding: 10px;
                        text-align: center;
                    }

                    img {
                        margin: 5px;
                        width: 350px;
                        height: 250px;
                        padding: 10px;
                    }

                    iframe {
                        margin: 5px;
                        width: 300px;
                        height: 300px;
                        padding: 10px;
                        position: absolute;
                        margin-top: 120px;
                        margin-left: 380px;
                    }

                    button {
                        margin: 10px;
                        width: 340px;
                        border-radius: 5px;
                        background-color: red;
                        text-decoration: none;
                        box-decoration-break: none;
                        color: white;
                    }
                }
            }
        }
    }

    .footer {
        background-color: #000;
        padding: 1rem 0;
        bottom: 0;

        p {
            color: #fff;
            text-align: center;

        }
    }

    .banner {
        .banner-image {
            z-index: -100;

            .backstretch {
                img {
                    width: 100%;
                }
            }

            .shows {
                position: absolute;
                top: 40%;
                left: 40%;

                h3 {
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: #fff;
                        background-color: red;
                        padding: 5px;
                        border-radius: 5px;
                        box-shadow: 2px 2px 5px #000;
                    }
                }
            }
        }
    }

    #banner4 {
        .banner-image {
            .redes-sociales {
                .enlaces {
                    margin-left: 30%;
                    position: absolute;
                    flex-direction: row;
                    img {
                        margin-top: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 678px) {
    .navbar{
        position: inherit;
        top: 0;
        background-color: #343434 !important;
        .navbar-collapse{
            z-index: 3;
        }
    }
    .banner3 {
        height: 1000px;
        padding: 0%;

        .banner-image {
            margin: 0px;

            .backstretch {
                margin: 0;
                padding: 5%;

                h3 {
                    font-size: 30px;
                    text-shadow: 0 2px 2px #000;
                    color: red;
                    text-align: center;
                }

                p {
                    color: white;
                    text-shadow: 0 2px 2px #000;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    text-align: center;
                }
            }

            .redes {
                a {
                    text-align: center;
                    width: 100%;
                    padding: 4%;
                    margin-bottom: 20px;
                }

            }
        }
    }

    iframe {
        padding: 5%;
        margin: 0;
        width: 100%;
        height: 500px;
    }


    .banner3 {
        .banner-image {
            .backstretch {
                .zadar {
                    background-color: #000;
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        color: #fff;
                        padding: 10px;
                        text-align: center;
                    }

                    h4 {
                        color: #fff;
                        padding: 10px;
                        text-align: center;
                    }

                    img {
                        margin: 5px;
                        width: 350px;
                        height: 250px;
                        padding: 10px;
                    }

                    iframe {
                        visibility: hidden;
                    }

                    button {
                        margin: 10px;
                        width: 340px;
                        border-radius: 5px;
                        background-color: red;
                        text-decoration: none;
                        box-decoration-break: none;
                        color: white;
                    }
                }
            }
        }
    }

    .footer {
        background-color: #000;
        padding: 1rem 0;
        bottom: 0;

        p {
            color: #fff;
            text-align: center;

        }
    }

    .banner {
        .banner-image {
            z-index: 1;

            .backstretch {
                img {
                    width: 100%;
                }
            }

            .shows {
                position: absolute;
                top: 30%;
                left: 30%;
                z-index: 2;

                h3 {
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: #fff;
                        background-color: red;
                        padding: 5px;
                        border-radius: 5px;
                        box-shadow: 2px 2px 5px #000;
                    }
                }
            }
        }
    }

    #banner4 {
        .banner-image {
            .enlaces {
                margin-right: 35%;
                img {
                    width: 80%;
                }
            }
        }
    }
}