html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}


//barra de navegacion
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000 !important;
    border: none;
    //opacity: 80%;
    box-shadow: 2px 2px 4px rgba(81, 81, 81, 0.1);

    .navbar-brand {
        img {
            width: 200px;
            height: auto;
        }
    }

    .navbar-nav {
        margin: 20px;
        font-size: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #navbarSupportedContent {
        .nav-item {

            .nav-link {
                border-radius: 10px;
                margin: 10px;
                padding: 5px;
                color: white;
            }
        }
    }
}

.banner {
    .banner-image {
        .backstretch {
            img {
                width: 100%;
            }
        }

        .shows {
            h3 {
                text-align: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 5px #000;
                }
            }
        }
    }
}


.banner3 {
    .banner-image {
        width: 100%;
        height: 750px;
        margin: 100px;
    }


}

iframe {
    width: 1122px;
    height: 500px;
}

@media screen and (max-width: 768px) {
    .banner3{
        height: 1000px;
        padding: 0%;
        .banner-image{
            margin: 0px;
            .backstretch{
                max-width: 100%;
                margin: 0;
                padding: 5%;
                h3{
                    font-size: 30px;
                    text-shadow: 0 2px 2px #000;
                    color: red;
                    text-align: center;
                }
                p{
                    color: white;
                    text-shadow: 0 2px 2px #000;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    text-align: center;
                }
            }
            .redes{
                a{
                    text-align: center;
                    width: 100%;
                    padding: 5%;
                    margin-bottom: 20px;
                }
                
            }
        }
    }
    iframe {
        padding: 5%;
        margin: 0;
        width: 100%;
        height: 500px;
    }

    body {
        background-color: gray;
    }
}